<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> <b> Aling Nena </b> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a>
                    </li>
                    <li><a href="/products">Products</a>
                    </li>
                    <li><a href="/admin">Admin</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

         <div class="row"> 
            <div class="col-md-3">
                <h4><center> <b> Nena. </b> </center> </h4>
		<p> <center> Always ready to serve. <br/>
		<p> <center> Wherever. Whenever.</center></p>
		<img src = nena.jpg>
            </div>
	<div class="well">
        <p>Nena Nanenana has been hardworking ever since she was a child. Brought up from a poor family, she always took their situation as a motivation to try harder. She did not ever want to settle with what they have. Her parents both died before she even reached her twenties, and that was the defining moment of her life. Nena was convinced that nothing can bring her down from pursuing her dreams, not even her parents' death.</p>
	<p>Living in a very small barangay far away from the city and concerned by the needs of her fellow citizens, Nena started off a very small Sari-Sari store last 1950's. She was very hardworking and generally polite to all her customers, which is why they always chose to buy from her. She never lets her customers down and makes sure everyone is satisfied; which gained her more friends and caused the name of her store to spread around the barangay. Not more than 2 years later, everyone already knew who she was because she had the best store in the vicinity.</p>
	<p>Nena's once small Sari-sari store eventually grew bigger and bigger as time passed by. She became even more successful, her sales were booming and her inventory was always almost empty because there wasn't a day wherein anyone wouldn't buy anything from her. This caused Nena to need an Information System so she can keep track of her sale more easily, and so she hired someone to make her an offline inventory system.</p>
	<p>Upon the creation of the Inventory System, Nena realized that some people were actually stealing from her; and when she became aware of it, she made sure to take precautionary measures as soon as possible. The System significantly raised her revenue even more, because her losses were minimized greatly. Nena was so successful, that her business grew so big, even reaching international people, mostly from OFW relatives of her neigbours.</p>
	<p>Since Nena's customers are almost everywhere in the world alread, she decided that she should just make transactions online so that it wold be easier for both her customer and her. </p>
	<p>So, from her hardships, up rose "Aling Nena's Sari-Sari Store". From the small barangay to a now world-renowned store, "Aling Nena's" is now the most reliable store in the country, if not the continent beacause not only does it provice excellent service, but it also has the lowest price, most trustworthy employees, and most customer-friendly interaction; whether it be in person or the internet.</p>
        </div
      </div>
    </div>
      

    <!-- /.container -->

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013 - Template by <a href="http://maxoffsky.com/">Maks</a>
                    </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
