
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Products </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><b> Aling Nena </b></a>
            <ul class="nav navbar-nav">
              <li><a href="/about" onmouseover="this.style.background='00FFCC';" onmouseout="this.style.background='66CCCC';" >About</a></li>
			  <li><a href="/purchase" onmouseover="this.style.background='00FFCC';" onmouseout="this.style.background='66CCCC';" >Buy a Product!</a></li>
			  <li><a href="/products" onmouseover="this.style.background='00FFCC';" onmouseout="this.style.background='66CCCC';" >Products</a></li>
              <li><a href="/admin" onmouseover="this.style.background='00FFCC';" onmouseout="this.style.background='66CCCC';" >FOR ALING NENA ONLY</a></li>

      </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="histo">
        <h1> Products Available For Sale: </h1>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
